.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 42.5rem ;
  grid-gap: 1rem;
  grid-auto-flow: row;
}

@media print {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 42.5rem;
    grid-gap: 1rem;
    grid-auto-flow: row;
  }
}
