*, html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight:normal;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.7rem;
  font-weight:normal;
  line-height: 1.7rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight:normal;
  line-height: 1.4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  font-weight:normal;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color:black;
}